# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # ci
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    # repository checkout
    - uses: actions/checkout@v4
    # jdk 환경 설치
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    # gradle 환경 설치
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    # 빌드 
    - name: Build with Gradle Wrapper
      run: ./gradlew clean build
      env: 
        AWS_DB_URL: ${{secrets.AWS_DB_URL}}
        AWS_DB_USER: ${{secrets.AWS_DB_USER}}
        AWS_DB_PASSWORD: ${{secrets.AWS_DB_PASSWORD}}  
        SECURITY_JWT_SECRET: ${{secrets.SECURITY_JWT_SECRET}}
        SECURITY_JWT_AT_EXPIRE: ${{secrets.SECURITY_JWT_AT_EXPIRE}}
    # 빌드된 파일 이름 변경
    - name: 빌드된 파일 이름 변경
      run: mv ./build/libs/*SNAPSHOT.jar ./agree.jar
    # 빌드된 파일 ec2 전송
    - name: ec2 전송
      uses: appleboy/scp-action@master
      with: 
        host: ${{secrets.SERVER_IP}}
        username: ${{secrets.SSH_USER}}
        key: ${{secrets.SSH_PRIVATE_KEY}}
        source: agree.jar
        target: /home/ubuntu
  # cd
  deploy: 
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: ssh로 ec2 접속
      uses: appleboy/ssh-action@master
      with: 
        host: ${{secrets.SERVER_IP}}
        username: ${{secrets.SSH_USER}}
        key: ${{secrets.SSH_PRIVATE_KEY}}
        script_stop: true
        script: |
          sudo fuser -k -n tcp 8080 || true
          sudo nohup java -jar agree.jar > ./output.log 2>&1 &
        
      
